.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
    background-size: cover;
}
.register-title{
    font-size: 50px;

}
.register-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.register-form>label{
    margin:10px;
}
.register-input{
    padding: 10px;
    background-color: #fff;
    border:none;

}
.register-button{
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
    padding: 10px;
    background-color: lightseagreen;
    border:none;
    color: #fff;
    border-radius: 10px;

}
.login-button{
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
    padding: 10px;
    background-color: lightcoral;
    border:none;
    color: #fff;
    border-radius: 10px;
}