.header{
    margin-top: 60px;
}
.header-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#444;
}

.header-title-sm{
    position: absolute;
    top: 18%;
    font-size: 25px;
    font-family: 'Joan', serif;
}

.header-title-lg{
    position: absolute;
    top: 22%;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Joan', serif;
}

.header-img{
    width: 100%;
    height: 750px;
    margin-top: 80px;
    object-fit: cover;
    opacity: 0.4;
}