.sidebar{
    display:flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-bottom:30px;
    background-color: #fbfbfb;
    border-radius: 10px;   
}

.sidebar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-title{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
.sidebar-item > span{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a7a7;
    border-bottom: 1px solid #a7a7a7;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
.sidebar-item > img{
    margin-top: 15px;
    width: 185px;
    height: 150px;
}
.sidebar-item > p{
    padding: 30px;
}

.sidebar-list{
    list-style: none;
    margin-bottom: 30px;

}
.sidebar-list-item{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    cursor: pointer;
}
.sidebar-social{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-icon{
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}