.setting{
    display: flex;
}
.setting-wrapper{
    flex: 9;
    padding: 20px;
    margin-left: 6%;
    margin-right: 9%;
}
.setting-title{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.setting-update-title{
    font-size: 20px;
    margin-bottom: 20px;
    color: lightslategray;
    cursor: pointer;
}
.setting-delete-title{
    color:red;
    font-size: 20px;
    cursor: pointer;
}
.setting-form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 20%;
}
.setting-pp-pic{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.setting-pp-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;

}
.setting-form > label{
    font-size: 20px;
    margin-top: 20px;
}
.setting-form > input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none; 
    border-bottom: 2px solid lightgray;
}
.setting-submit{
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: teal;
    font-size: 17px;
    cursor: pointer;
}